@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.a {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='transring' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 414 414' style='enable-background:new 0 0 414 414; background-color: rgb(135, 70, 227)' xml:space='preserve'%3E%3Cpath id='Transparent_Ring' class='transrg' style='opacity:0.4;fill:none;stroke:%23FFFFFF;stroke-width:2;stroke-miterlimit:10;enable-background:new' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cpath id='Opaque_Ring' class='transrgwht' stroke-dasharray='0,1000' style='fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10; stroke-dasharray: 10, 1000;' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cg id='Dots1' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill1' style='fill: rgb(225, 225, 225); opacity: 1;' d='M84,80 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro1' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M84,80c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots2' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill2' style='fill: rgb(135, 70, 227); opacity: 1;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro2' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots3' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill3' style='fill: rgb(135, 70, 227); opacity: 1;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro3' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots4' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill4' style='fill: rgb(135, 70, 227); opacity: 1;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro4' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots5' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill5' style='fill: rgb(135, 70, 227); opacity: 1;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro5' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots6' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill6' style='fill: rgb(135, 70, 227); opacity: 1;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro6' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots7' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill7' style='fill: rgb(135, 70, 227); opacity: 1;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro7' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.a2 {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='transring' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 414 414' style='enable-background:new 0 0 414 414; background-color: rgb(76, 69, 195)' xml:space='preserve'%3E%3Cpath id='Transparent_Ring' class='transrg' style='opacity:0.4;fill:none;stroke:%23FFFFFF;stroke-width:2;stroke-miterlimit:10;enable-background:new' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cpath id='Opaque_Ring' class='transrgwht' stroke-dasharray='0,1000' style='fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10; stroke-dasharray: 10, 1000;' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cg id='Dots1' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill1' style='fill: rgb(225,225,225);; opacity: 1;' d='M84,80 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro1' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M84,80c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots2' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill2' style='fill: rgb(255,255,255); opacity: 1;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro2' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots3' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill3' style='fill: rgb(135, 70, 227); opacity: 1;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro3' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots4' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill4' style='fill: rgb(135, 70, 227); opacity: 1;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro4' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots5' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill5' style='fill: rgb(135, 70, 227); opacity: 1;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro5' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots6' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill6' style='fill: rgb(135, 70, 227); opacity: 1;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro6' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots7' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill7' style='fill: rgb(135, 70, 227); opacity: 1;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro7' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.a3 {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='transring' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 414 414' style='enable-background:new 0 0 414 414; background-color: rgb(10, 25, 53)' xml:space='preserve'%3E%3Cpath id='Transparent_Ring' class='transrg' style='opacity:0.4;fill:none;stroke:%23FFFFFF;stroke-width:2;stroke-miterlimit:10;enable-background:new' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cpath id='Opaque_Ring' class='transrgwht' stroke-dasharray='0,1000' style='fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10; stroke-dasharray: 10, 1000;' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cg id='Dots1' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill1' style='fill: rgb(225,225,225);; opacity: 1;' d='M84,80 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro1' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M84,80c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots2' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill2' style='fill: rgb(225,225,225); opacity: 1;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro2' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots3' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill3' style='fill: rgb(225,225,225); opacity: 1;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro3' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots4' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill4' style='fill: rgb(135, 70, 227); opacity: 1;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro4' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots5' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill5' style='fill: rgb(135, 70, 227); opacity: 1;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro5' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots6' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill6' style='fill: rgb(135, 70, 227); opacity: 1;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro6' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots7' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill7' style='fill: rgb(135, 70, 227); opacity: 1;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro7' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.a4 {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='transring' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 414 414' style='enable-background:new 0 0 414 414; background-color: rgb(1, 33, 97)' xml:space='preserve'%3E%3Cpath id='Transparent_Ring' class='transrg' style='opacity:0.4;fill:none;stroke:%23FFFFFF;stroke-width:2;stroke-miterlimit:10;enable-background:new' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cpath id='Opaque_Ring' class='transrgwht' stroke-dasharray='0,1000' style='fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10; stroke-dasharray: 10, 1000;' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cg id='Dots1' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill1' style='fill: rgb(225,225,225);; opacity: 1;' d='M84,80 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro1' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M84,80c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots2' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill2' style='fill: rgb(225,225,225); opacity: 1;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro2' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots3' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill3' style='fill: rgb(225,225,225); opacity: 1;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro3' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots4' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill4' style='fill: rgb(225,225,225); opacity: 1;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro4' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots5' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill5' style='fill: rgb(135, 70, 227); opacity: 1;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro5' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots6' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill6' style='fill: rgb(135, 70, 227); opacity: 1;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro6' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots7' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill7' style='fill: rgb(135, 70, 227); opacity: 1;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro7' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.a5 {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='transring' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 414 414' style='enable-background:new 0 0 414 414; background-color: rgb(52, 8, 183)' xml:space='preserve'%3E%3Cpath id='Transparent_Ring' class='transrg' style='opacity:0.4;fill:none;stroke:%23FFFFFF;stroke-width:2;stroke-miterlimit:10;enable-background:new' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cpath id='Opaque_Ring' class='transrgwht' stroke-dasharray='0,1000' style='fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10; stroke-dasharray: 10, 1000;' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cg id='Dots1' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill1' style='fill: rgb(225,225,225);; opacity: 1;' d='M84,80 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro1' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M84,80c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots2' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill2' style='fill: rgb(225,225,225); opacity: 1;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro2' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots3' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill3' style='fill: rgb(225,225,225); opacity: 1;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro3' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots4' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill4' style='fill: rgb(225,225,225); opacity: 1;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro4' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots5' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill5' style='fill: rgb(225,225,225); opacity: 1;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro5' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots6' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill6' style='fill: rgb(135, 70, 227); opacity: 1;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro6' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots7' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill7' style='fill: rgb(135, 70, 227); opacity: 1;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro7' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.a6 {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='transring' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 414 414' style='enable-background:new 0 0 414 414; background-color: rgb(52, 8, 183)' xml:space='preserve'%3E%3Cpath id='Transparent_Ring' class='transrg' style='opacity:0.4;fill:none;stroke:%23FFFFFF;stroke-width:2;stroke-miterlimit:10;enable-background:new' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cpath id='Opaque_Ring' class='transrgwht' stroke-dasharray='0,1000' style='fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10; stroke-dasharray: 10, 1000;' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cg id='Dots1' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill1' style='fill: rgb(225,225,225);; opacity: 1;' d='M84,80 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro1' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M84,80c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots2' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill2' style='fill: rgb(225,225,225); opacity: 1;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro2' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots3' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill3' style='fill: rgb(225,225,225); opacity: 1;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro3' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots4' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill4' style='fill: rgb(225,225,225); opacity: 1;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro4' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots5' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill5' style='fill: rgb(225,225,225); opacity: 1;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro5' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots6' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill6' style='fill: rgb(225,225,225); opacity: 1;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro6' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots7' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill7' style='fill: rgb(135, 70, 227); opacity: 1;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro7' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.a7 {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='transring' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 414 414' style='enable-background:new 0 0 414 414; background-color: rgb(8, 94, 4)' xml:space='preserve'%3E%3Cpath id='Transparent_Ring' class='transrg' style='opacity:0.4;fill:none;stroke:%23FFFFFF;stroke-width:2;stroke-miterlimit:10;enable-background:new' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cpath id='Opaque_Ring' class='transrgwht' stroke-dasharray='0,1000' style='fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10; stroke-dasharray: 10, 1000;' d='M84.2,85c31.3-31.5,74.7-51,122.7-51c95.5,0,173,77.5,173,173s-77.5,173-173,173 c-47.8,0-91-19.4-122.3-50.7'%3E%3C/path%3E%3Cg id='Dots1' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill1' style='fill: rgb(225,225,225);; opacity: 1;' d='M84,80 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro1' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M84,80c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 87, 80, 84,80 z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots2' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill2' style='fill: rgb(225,225,225); opacity: 1;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro2' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M206.8,29c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6S 210.1,29, 206.8,29 z M206.8'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots3' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill3' style='fill: rgb(225,225,225); opacity: 1;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro3' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M332,85 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 335,85, 332,85 z M332'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots4' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill4' style='fill: rgb(225,225,225); opacity: 1;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro4' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M380,205 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 383,205, 380,205 z M380'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots5' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill5' style='fill: rgb(225,225,225); opacity: 1;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro5' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M335,315 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 340,315, 335,315 z M335'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots6' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill6' style='fill: rgb(225,225,225); opacity: 1;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro6' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M210,375 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 215,375, 210,375 z M210'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg id='Dots7' class='dots-nav'%3E%3Cg%3E%3Cpath class='dotsst dotsfill7' style='fill: rgb(225,225,225); opacity: 1;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath class='dotsstro7' style='opacity: 1; fill: none; stroke: rgb(255, 255, 255); stroke-width: 2; stroke-miterlimit: 10;' d='M88,324 c-3.3,0-6,2.7-6,6s2.7,6,6,6s6-2.7,6 -6 S 92,324, 88,324 z M88'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.a {
  fill: #ffffff; 
}

/* card-1 */
.image-1 {
  background-color: rgb(209, 209, 204);
  display: flex;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.container-1 {
  background-color: rgb(135, 70, 227);
  order: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  height: 100vh;
}
.text-container {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
}
#txt1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative; 
  margin-left: 23rem;
}
#txt2 {
  margin-right: 12rem;
  font-size: larger;
}
.circle {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%); 
  width: 20rem;
  height: 20rem;
  background-color: rgb(64, 15, 209);
  border-radius: 50%;
  z-index: -1;
}
.image-container img {
  width: 54%;
}
.text-container h1 {
  position: relative;
  z-index: 1;
  margin-bottom: 0.5rem;
  color: #fff;
}
.text-container p {
  position: relative;
  z-index: 1;
  color: #fff;
}
@media screen and (max-width: 1299px) {
  .text-container h1 {
    width: 322px;
  }
  .circle {
    right: 15%;
  }
  .text-container {
    gap: 6rem;
  }
}

@media screen and (max-width: 1099px) {
  .circle {
    right: 23%;
  }
  .text-container {
    gap: 8rem;
  }
}

@media screen and (max-width: 999px) {
  .panel {
    display: none;
  }
  .mobile {
    display: block!important;
  }
  .mobile-image-container {
    display: flex;
    justify-content: space-around;
  }

  .mobile-image-container img {
    max-width: 25%;
    height: auto;
  }

  .mobile-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
  }
  .mobile-text-container img {
    width: 50%;
    height: auto;
  }
  .mobile-text-container h1 {
    font-size: 2rem;
    margin: -2rem 0rem 0rem 0rem;
  }
  .mobile-text-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 799px) {
  .mobile-image-container img {
    max-width: 32%;
    height: auto;
  }
}

@media screen and (max-width: 549px) {
  .mobile-image-container img {
    max-width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 999px) {
  .mobile-image-container {
    display: flex;
    justify-content: space-around;
  }

  .mobile-image-container img {
    max-width: 25%;
    height: auto;
  }

  .mobile-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
  }
  .mobile-text-container img {
    width: 50%;
    height: auto;
  }
  .mobile-text-container h1 {
    font-size: 2rem;
    margin: -1rem 0rem 0rem 2rem;
  }
  .mobile-text-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 799px) {
  .mobile-image-container img {
    max-width: 35%;
    height: auto;
  }
}

@media screen and (max-width: 549px) {
  .mobile-image-container img {
    margin-bottom: 4rem;
    max-width: 50%;
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .mobile-image-container{
    width: 100%;
    height:auto;
  }
  .mobile-image-container img{
    position: relative;
  }
  .mobile-text-container{
    height: 24rem;
  }
  .mobile-image-container h1{
    margin: -1rem 0rem 0rem 2rem;
  }
  .mobile-text-container img ,p{
    margin: 0rem 3rem 0rem 2rem;
  }
}




/* card - 2 */
.circle2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  background-color: rgb(76, 69, 195);
  border-radius: 50%;
  z-index: 1;
}
.image-2 {
  background-color: rgb(2, 4, 87);
}
@media screen and (max-width:1290px) {
  .circle2{
    top: 38%;
  }
}
@media screen and (max-width:1100px) {
  .circle2{
    top: 36%;
  }
}
.image-2 .image-container img {
  width: 45%;
}
.image-2 img:nth-child(1){
  margin-top: 19rem;
}
.image-2 img:nth-child(2){
  margin-bottom: 19rem;
}









/* card-3 */
.container-6 {
  background-color: rgb(10, 25, 53);
}
.circle6 {
  position: absolute;
  top: 32%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  background-color: rgb(10, 25, 53);
  border-radius: 50%;
  z-index: 1;
  /* clip-path: circle(50%); */
}
#txt3 {
  margin-right: 12rem;
  font-size: larger;
}
#txt3 img{
  position: relative;
  z-index: 999;
}








/* card-4 */
.image-3 {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}
.image-3 .image-container {
  position: relative;
}
.image-3 .image-container img {
  width: 35%;
}
.image-3 .image-container {
  position: relative;
}
.image-3 .image-container img:nth-child(1) {
  margin-top: 20rem;
}
.image-3 .image-container img:nth-child(2) {
  margin-bottom: 14rem;
}
.image-3 .image-container img:nth-child(3) {
  position: absolute;
  width: 25%;
  top: -8rem;
  right: 0;
}

.image-3 .image-container img:nth-child(4) {
  position: absolute;
  top: 0rem;
  left: -0.8rem;
}

.image-3 .image-container img:nth-child(5) {
  position: absolute;
  bottom: 0rem;
  right: 0;
}
#txt4 {
  margin-right: 12rem;
  font-size: larger;
}







/* card-5 */
.circle5 {
  margin-left: 20rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  background-color: rgb(33, 17, 154);
  border-radius: 50%;
  z-index: 1;
  /* clip-path: circle(50%); */
}












/* card7 */
.circle5 {
  margin-left: 20rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  background-color: rgb(33, 17, 154);
  border-radius: 50%;
  z-index: 1;
  /* clip-path: circle(50%); */
}








.texts {
  width: 36rem;
}

.container-fluid {
  height: 100vh;
}


.container-3 {
  background-color: rgb(1, 33, 97);
  max-height: 100vh;
  position: relative;
}

.container-4 {
  background-color: rgb(52, 8, 183);
  max-height: 100vh;
}
.container-7 {
  background-color: rgb(8, 94, 4);
  max-height: 100vh;
}
.container-left {
  left: 0;
  bottom: 0;
  padding: 4rem;
}
.container-left4 {
  left: 0;
  bottom: 0;
  margin-top: 5rem;
  padding: 4rem;
}


.image-4 {
  background-color: aqua;
}
.image-6 {
  background-color: rgb(2, 25, 72);
}
.image-7 {
  background-color: rgb(28, 131, 7);
}

.image-container-6 {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container-7 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container-7 .image-wrapper {
  flex-basis: 49%;
}
.image-container-7 img:nth-child(1) {
  margin-top: 5rem;
  width: 80%;
  margin-left: 0rem;
}
.image-container-7 img:nth-child(2) {
  width: 80%;
  margin-bottom: 10rem;
  margin-left: 0rem;
}

.image-container-6 img {
  width: 40%;
}
.image-container-6 img:nth-child(1) {
  margin-top: 5rem;
}
.image-container-6 img:nth-child(2) {
  width: 30%;
  margin-bottom: 10rem;
}

.texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.texts .text-end {
  margin-right: 4rem;
  letter-spacing: 10px;
  margin-bottom: 0;
}
.main {
  padding-top: 3rem;
}
.para-light {
  opacity: 50%;
}


.text-container4 {
  position: relative;
  margin-top: 6rem;
  margin-right: 8rem;
  left: 4rem;
}

.container-2 p,
h1,
p {
  position: relative;
  z-index: 999;
}
.circle3 {
  margin-left: 18rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13rem;
  height: 13rem;
  background-color: rgb(1, 33, 97);
  border-radius: 50%;
  z-index: -1;
  /* clip-path: circle(50%); */
}





.image-container4 {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container4 img {
  width: 80%;
}
.image-row.centered {
  justify-content: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.image-5 {
  background-image: url(/assets/img/interior.jpg);
  background-size: cover;
  background-position: center;
}
.image-container5 {
  width: 100%;
}
.container-5 {
  background-color: rgb(33, 17, 154);
  height: 100vh;
}
